/*-------------- form-site -----------------*/
.form-site{
	position: relative;

	&__title{
		font-family: $font-exo;
		@include font(none, bold, 3.2rem, 1.3, none);
		text-align: center;
		margin-bottom: 12px;
	}

	&__text{
		@include font(none, none, 1.8rem, 1.6, none);
		text-align: center;
		margin-bottom: 36px;
	}

	&__content{margin-top: 36px;}
	&__item{margin-bottom: 22px;}
	&__item.error{position: relative;}

	input[type="text"],
	input[type="email"],
	input[type="number"],
	input[type="password"],
	textarea{
		display: inline-flex;
		align-items: center;
		height: 6rem;
		width: 100%;
		font-family: $font-site;
		@include font(none, none, 1.5rem, 1.2, $color-text);
		padding: 0 20px;
		border: 1px solid #e2e2e2;
		background: transparent;
		outline: none;
		margin: 0;
		box-shadow: none;
		transition: border 0.2s ease 0s;
	}

	textarea{
		height: 16rem;
		line-height: 1.6;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}

	input[type="text"]:focus,
	input[type="number"]:focus,
	input[type="email"]:focus,
	input[type="password"]:focus,
	textarea:focus{
		border-color: $color-blue;
	}

	input[type="text"]::placeholder,
	input[type="number"]::placeholder,
	input[type="email"]::placeholder,
	input[type="password"]::placeholder,
	textarea::placeholder{
		color: #ADB4BE;
		opacity: 1;
	}

	.select2{width: 100%!important;}

	&__item.error{
		input[type="text"],
		input[type="number"],
		input[type="email"],
		input[type="password"],
		textarea{
			border-color: $color-red;
		}

		input[type="text"]::placeholder,
		input[type="number"]::placeholder,
		input[type="email"]::placeholder,
		input[type="password"]::placeholder,
		textarea::placeholder{
			color: $color-red;
			opacity: 1;
		}
	}

	.form-site-msg-error{
		@include font(none, none, 1.4rem, 1.2, $color-red);
		margin-top: 5px;
		position: absolute;
		top: 100%;
		left: 0;
	}

	&__btn{
		margin-top: 22px;

		.btn{width: 100%;}
	}

	&_dark{
		color: #fff;

		input[type="text"],
		input[type="email"],
		input[type="number"],
		input[type="password"],
		textarea{
			color: #fff;
			border: 1px solid rgba(255, 255, 255, 0.22);
		}
	}

	&__polit{
		@include font(none, none, 1.3rem, 1.8, none);
		text-align: center;
		margin-top: 22px;

		a{
			color: #ADB4BE;
			text-decoration: none;

			&:hover{color: $color-blue;}
		}
	}
}

.success-alert{
	width: 500px;
	text-align: center;

	&__icon{
		margin-bottom: 3rem;

		.icon{fill: $color-blue;}
	}

	&__title{
		@include font(none, 600, 3.2rem, 1.6, none);
	}

	&__text{
		max-width: 350px;
		@include font(none, none, 1.7rem, 1.6, none);
		margin: 2rem auto 0;
	}
}

.popup-form{
	width: 500px;
	max-width: 100%;
}

.form-page{
	background: linear-gradient(231.58deg, #2E3540 -86.62%, #3A4860 133.6%), linear-gradient(253.05deg, #00AFF3 -119.04%, #58DCF8 158.91%);
	clip-path: polygon(45px 0, 100% 0, 100% calc(100% - 45px), calc(100% - 45px) 100%, 0 100%, 0 45px);
	padding: 60px;

	.form-site{
		&__text{
			font-size: 1.5rem;
			text-align: left;
		}
	}
}

@media (max-width: 767px) {
	.form-page{
		padding-left: 15px;
		padding-right: 15px;
	}
}