/*-------------- pager -----------*/
.pager{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 5px -5px;

	&__item{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		vertical-align: top;
		width: 48px;
		height: 48px;
		@include font(none, none, 1.5rem, 1, $color-text);
		text-decoration: none;
		margin: 5px;
		border: 1px solid #e2e2e2;
		transition: all 0.2s ease;
	}

	&__item:hover,
	&__item.active{
		color: #fff;
		background: $color-dark-grey;
		border-color: $color-dark-grey;
	}

	&__nav{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 78px;
		height: 48px;
		cursor: pointer;
		text-decoration: none;
		border: 1px solid #e2e2e2;
		margin: 5px;

		.icon{
			display: block;
			fill: $color-text;
			transition: fill 0.2s ease 0s;
		}

		&:hover{
			background: $color-dark-grey;
			border-color: $color-dark-grey;
		}

		&:hover .icon{fill: #fff;}

		&.disable{
			opacity: 0.5;
			cursor: auto;
		}

		&.disable:hover{
			background: transparent;
			border-color: #e2e2e2;

			.icon{fill: $color-text;}
		}
	}

}

@media (max-width: 767px) {
	.pager{
		&__nav{width: 48px;}
	}
}