/*-------------- table-site -----------------*/
.table-site{
	width: 100%;

	th{
		font-size: 1.7rem;
		font-weight: 600;
		padding: 29px 30px;
	}

	td{
		font-size: 1.5rem;
		padding: 22px 30px;
	}

	tr{border-bottom: 1px solid #e2e2e2;}
}

@media (max-width: 991px) {
	.table-site{
		th,
		td{
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

@media (max-width: 767px) {
	.table-site-wrap{
		overflow-x: auto;
		margin-left: -15px;
		margin-right: -15px;

		.table-site{
			width: 100%;
			min-width: 400px;
		}
		

	}
}