/*-------------- tabs-page -----------------*/
.tabs-page{
	&__list,
	&__item{
		@include reset-list;
	}

	&__list{display: flex;}

	&__item{
		flex-basis: 100%;
		display: inline-block;
		@include font(none, none, 1.7rem, 1.6, #464646);
		padding: 8px 45px;
		border-bottom: 2px solid #e2e2e2;
		transition: all 0.3s ease;
		cursor: pointer;
	}

	&__item:hover,
	&__item.active{
		color: $color-text;
		border-color: $color-red;
	}

	&__content{padding-top: 40px;}
	&__content-item{display: none;}
	&__content-item.active{display: block;}
}

@media (max-width: 991px) {
	.tabs-page{
		&__list{
			width: calc(50vw + 345px);
			overflow-x: auto;
			padding-bottom: 5px;
		}

		&__item{white-space: nowrap;}
	}
}

@media (max-width: 767px) {
	.tabs-page{
		&__list{
			width: auto;
			overflow-x: auto;
			margin-left: -15px;
			margin-right: -15px;
		}

		&__item{padding: 8px 30px;}
	}
}