/*-------------- unwrap-block -----------------*/
.unwrap-block{
	border-bottom: 1px solid #e2e2e2;

	&__head{
		display: flex;
		justify-content: space-between;
		@include font(none, 600, 1.7rem, 1.6, none);
		padding: 26px 0;
		position:relative;
		cursor:pointer;
	}

	&__btn{
		flex-shrink: 0;
		margin-left: 20px;
		
		.icon{
			fill: $color-blue;
			transition: all 0.2s ease 0s;
		}
	}

	&.opened &__btn .icon{transform: rotate(135deg);}

	&__content{
		display: none;
		max-width: 1000px;
		padding-bottom: 25px;

		p:last-child{margin-bottom: 0;}
	}
}

h2 + .unwrap-block{margin-top: -27px;}

@media (max-width: 767px) {
	.unwrap-block{
		&__head{
			font-size: 1.5rem;
			padding: 18px 0;
		}
	}
}