extends ../layout/main

block variables
	- var title = 'О компании';
	- var h1 = 'О компании';


block breadcrumb
	-
		var breadcrumbs=[
			{href:'/',name:'Главная страница'},
			{href:'#',name:'О компании'},
		];

	+breadcrumbs(breadcrumbs)

block content
	section.container
		.row
			.col-lg-5
				.font-big
					p Компания «Анкор» осуществляет изготовление металлоконструкций с нанесением на них защитных антикоррозионных покрытий, в том числе методом горячего цинкования на производстве, оснащенном современным оборудованием.
					p Актуальность проблемы антикоррозионной защиты металлов основывается на необходимости защиты металлических конструкций, сохранения их внешнего вида, а также рационального использования природных ресурсов.
					p Оперативность и качество выполнения заказов обеспечиваются высоким уровнем подготовки наших специалистов, высокотехнологичным оборудованием и сертифицированными материалами.

			.offset-lg-1.col-lg-6
				img(src="assets/img/stairs.png", alt="")

	section.faq-wrap.m-indent
		.container
			.row
				.col-12
					h2 FAQ

					-
						var list=[
							{title:'В чем  приходить на занятие?'},
							{title:'Какие необходимые документы для записи ребенка?'},
							{title:'Как проходят наши занятия?'},
							{title:'Что делать, если ребенок пропустил занятия?', text:'long'},
							{title:'Какие мероприятия проводятся помимо тренировок?'},
						]
					each item in list
						.unwrap-block.js-unwrap-block
							.unwrap-block__head.js-unwrap-head
								.unwrap-block__title= item.title
								.unwrap-block__btn
									+svg('ic-plus','ic-plus', '18', '18')

							.unwrap-block__content.js-unwrap-content
								if(item.text == 'long')
									p Возврат денежных средств за пропущенные занятия по болезни или в связи с отпуском осуществляется по заявлению установленного образца и оригиналу медицинской справки, которые предоставляются самостоятельно в главный офис Федерации по адресу: г. Челябинск, ул. Чайковского 75, либо в электронном виде по данной форме.
									p 
										b Возможен отказ в возврате денежных средств в следующих случаях:
									
									ul.list-dot
										li несовпадение дат пропусков и дат в медицинской справке;
										li заявление заполнено неправильно, нет полных данных.

									p Возврат денежных средств осуществляется с 8 по 10 и с 23 по 25 числа последующего месяца. Срок подачи заявления на возврат – 3 месяца с момента пропуска занятий 
								else
									|Текст
					
	section.reviews-wrap.m-indent
		.st-width
			.reviews-wrap__content
				.container
					.row
						.col-12
							h2 Отзывы клиентов

							.review-list
								.row
									.col-lg-6
										.review-item
											.review-item__img-wrap
												.review-item__img
													img(src="assets/img/author1.jpg", alt="")
											.review-item__content
												.review-item__text
													p “Самостоятельное обучение трейдингу отняло у меня пару месяцев и не принесло стабильных результатов.
													p После прохождения этого курса я могу лучше анализировать процессы купли и продажи ценных бумаг, отправлять приказы о продаже по найлучшему курсу, следить за количеством лотов и получать прибыль.”
												.review-item__author Александр Добрев

									.col-lg-6
										.review-item
											.review-item__img-wrap
												.review-item__img
													img(src="assets/img/author2.jpg", alt="")
											.review-item__content
												.review-item__text
													p “После прохождения этого курса я могу лучше анализировать процессы купли и продажи ценных бумаг, отправлять приказы о продаже по найлучшему курсу, следить за количеством лотов и получать прибыль.”
												.review-item__author Андрей Иванов

									.col-lg-6
										.review-item
											.review-item__img-wrap
												.review-item__img
													img(src="assets/img/author3.jpg", alt="")
											.review-item__content
												.review-item__text
													p “После прохождения этого курса я могу лучше анализировать процессы купли и продажи ценных бумаг, отправлять приказы о продаже по найлучшему курсу, следить за количеством лотов и получать прибыль.”
												.review-item__author Андрей Иванов

									.col-lg-6
										.review-item
											.review-item__img-wrap
												.review-item__img
													img(src="assets/img/author4.jpg", alt="")
											.review-item__content
												.review-item__text
													p “Самостоятельное обучение трейдингу отняло у меня пару месяцев и не принесло стабильных результатов.
													p После прохождения этого курса я могу лучше анализировать процессы купли и продажи ценных бумаг, отправлять приказы о продаже по найлучшему курсу, следить за количеством лотов и получать прибыль.”
												.review-item__author Александр Добрев

	section.certificates-wrap
		.container
			.row
				.col-12
					h2 Сертификаты

					.certificates-list
						.row
							-
								var list=[
									{img:'certificate1.jpg'},
									{img:'certificate2.jpg'},
									{img:'certificate3.jpg'},
									{img:'certificate4.jpg'},
									{img:'certificate5.jpg'},
									{img:'certificate6.jpg'},
								]
							each item in list
								.col-6.col-md-4.col-lg-2
									.certificates-item
										a(data-fancybox='certificates', data-src='assets/img/'+item.img).certificates-item__content
											img(src='assets/img/'+item.img)