extends ../layout/main

block variables
	- var title = 'Услуга';

block breadcrumb
	-
		var breadcrumbs=[
			{href:'/',name:'Главная страница'},
			{href:'#',name:'Металлоконструкции'},
		];

	+breadcrumbs(breadcrumbs)

block content
	.container
		.row
			.col-lg-3
				.cat-menu-menu-wrap
					span.btn.d-lg-none.js-cat-menu-btn Меню раздела

					ul.cat-menu.js-cat-menu
						ul.cat-menu__list
							-
								var list=[
									{
										text:'Цинкование',
										status:'active',
										sub:[
											{text:'Гальваническое цинкование'},
											{
												text:'Горячее цинкование',
												sub:[
													'Горячее цинкование в Архангельске',
													'Горячее цинкование в Калининграде',
													'Горячее цинкование в Мурманске',
													'Горячее цинкование в Петрозаводске',
													'Горячее цинкование в Вологде',
												]
											},
											{text:'Оцинкованный прокат'},
											{text:'Термодиффузионное цинкование'},
											{text:'Желтый цинк'},
										]
									},
									{
										text:'Металлоконструкции',
										sub:[
											{text:'Пункт 1'},
											{text:'Пункт 2'},
											{text:'Пункт 3'},
											{text:'Пункт 4'},
										]
									},
									{
										text:'Металические изделия',
										sub:[
											{text:'Пункт 1'},
											{
												text:'Пункт 2',
												sub:[
													'Оцинкованный прокат',
													'Гальваническое цинкование',
													'Горячее цинкование',
												]
											},
										]
									},
									{
										text:'Металлообработка',
										sub:[
											{
												text:'Пункт 1',
												sub:[
													'Оцинкованный прокат',
													'Гальваническое цинкование',
													'Горячее цинкование',
												]
											},
										]
									},
								]
							each item in list
								li.cat-menu__item.js-cat-menu-item
									a.cat-menu__link(href="#", class=item.status?'active':'')= item.text
										span.cat-menu__arr.js-cat-menu-arr
											+svg('ic-arrow-down','ic-arrow-down', '11', '7')
									
									if(item.sub)
										ul.cat-menu__sub.js-cat-menu-sub
											each sub in item.sub
												li.cat-menu__sub-item.js-cat-menu-item
													a(href="#").cat-menu__sub-link= sub.text
														span.cat-menu__sub-arr.js-cat-menu-arr
															if(sub.sub)
																+svg('ic-arrow-down','ic-arrow-down', '11', '7')

													if(sub.sub)
														ul.cat-menu__sub.js-cat-menu-sub
															each sub2 in sub.sub
																li.cat-menu__sub-item
																	a(href="#").cat-menu__sub-link= sub2

			.col-lg-9
				h1 Изготовление металлоконструкций

				.row
					.col-7
						img(src="assets/img/service-img1.jpg", alt="")

					.col-5
						p Наша компания уже более 20 лет занимается изготовлением высококачественных конструкций из металла. Развитая материально-техническая база позволяет производить продукцию по строгим техническим требованиям и в строго установленным договором сроки. При этом нашими постоянными партнёрами становятся не только частные лица, но и крупные строительные подрядчики.

					
				h2.m-small-indent Применение металлических конструкций

				ul.list-square
					li инженерные сооружения;
					li торгово-развлекательные комплексы;
					li жилые дома;
					li административные сооружения.

				p Только за 1 год из наших конструкций возводятся сотни объектов в регионе присутствия и далеко за его пределами. Это говорит об ответственном подходе к работе и высоком профессионализме при выполнении поставленных задач.
					br
					|Огромный опыт в области изготовления металлоконструкций, профессионализм, современное высокотехнологичное оборудование, высокое качество и доступные цены позволяют нашему предприятию изготавливать широкий спектр типовых и нестандартных конструкций.

				.row
					.col-7
						img(src="assets/img/service-img2.jpg", alt="")

					.col-5
						img(src="assets/img/service-img3.jpg", alt="")

				h3.m-small-indent Наши услуги

				ul.list-square
					li Проектирование.
					li Изготовление металлоконструкций различного назначения.
					li Продажа черного металлопроката.
					li Обработка металла.
					li Монтаж.

				h3.m-small-indent Типы конструкций

				p В наших силах быстро и с максимальным качеством исполнения проводить изготовление сложных металлических конструкций:

				ul.list-square
					li строительные элементы. К их числу относятся металлические фермы, ригели и сварные балки, являющиеся основным каркасом зданий, а также так называемые мембраны, использующиеся для перекрытия зданий с большими пролётами. Сюда же относятся и высотные элементы и конструкции;
					li металлические изделия с ограждающей функцией. К таковым причисляются: витражи, стальные металлические переплёты, а также опорные колонны и ворота;

				p Наш завод возьмется за изготовление типовых конструкций и исполнение нестандартных проектов. Обращаясь за помощью к нам, вы можете рассчитывать на комплексный подход к изготовлению металлоконструкций по чертежам заказчика, размерам и эскизам. В этом случае будет исполнен проект любой сложности без привлечения дополнительной сторонней помощи. Для оперативного решения таких задач существует наш конструкторский отдел с высококвалифицированными и опытными специалистами. При этом наша богатая база позволит подобрать для работ наиболее качественный материал без задержек и поиска альтернативных вариантов.

				.row
					.col-4
						img(src="assets/img/service-img4.jpg", alt="")
					.col-4
						img(src="assets/img/service-img5.jpg", alt="")
					.col-4
						img(src="assets/img/service-img6.jpg", alt="")

				h3.m-small-indent Цены

				.table-site-wrap
					table.table-site
						tr
							th Наименование конструкций из металла
							th.text-right Ед. изм.
							th.text-right Цена

						-
							var list=[
								{title:'Металлоконструкция', text:'тонна', price:'от 45 000 ₽'},
								{title:'Металлоконструкции из нержавейки и алюминия', text:'тонна', price:'Договорная'},
								{title:'ЛМК', text:'тонна', price:'Договорная'},
								{title:'Фермы', text:'тонна', price:'Договорная'},
								{title:'Прогонны', text:'тонна', price:'от 20 700 ₽'},
								{title:'Колонны', text:'тонна', price:'от 9 000 ₽'},
								{title:'Сварная балка', text:'тонна', price:'от 11 700 ₽'},
							]
						each item in list
							tr
								td= item.title
								td.text-right= item.text
								td.text-right= item.price