html,
body{
	background: #fff;
	font-family: $font-site;
	@include font(normal, normal, 10px, 1.6, $color-text);
	box-sizing:border-box;
}

body{font-size: 1.7rem;}

body.no-scroll{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-size: inherit;
	font-family: inherit;
}

img{max-width: 100%;}

a{
	color: $color-blue;
	text-decoration: underline;
}

a:hover{text-decoration: none;}

p{
	padding: 0;
	margin-bottom: 2rem;
}

ul, ol{margin-bottom: 2rem;}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5
{
	line-height: 1.3;
	color: $color-text;
}

h1,.h1{
	font-family: $font-exo;
	font-size: 3.2rem;
	font-weight: bold;
	margin-bottom: 4rem;
}

h2,.h2{
	font-family: $font-exo;
	font-size: 3.2rem;
	font-weight: bold;
	margin-bottom: 4rem;
}

h3,.h3{
	font-size: 2.8rem;
	margin-bottom: 2rem;
}

h4,.h4{
	font-size: 2.4rem;
	margin-bottom: 2rem;
}

h5,.h5{
	font-size: 2rem;
	margin-bottom: 1rem;
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	margin: 0 auto;
}

main{
	flex: 1 1 auto;
	padding-bottom: 100px;
	width: 100%;
}

.last-elem{margin-bottom: -100px;}

.st-width{
	max-width: 1600px;
	margin: 0 auto;
}

.shadow-site{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	z-index: 980;

	&.active{display: block;}
}


.btn,
input[type="submit"].btn,
button.btn{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 6rem;
	min-width: 200px;
	background: $color-blue;
	border: none;
	@include font(none, 600, 1.5rem, 1.4, #fff);
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	padding: 0 30px;
	cursor: pointer;
	position: relative;
	z-index: 1;

	&:hover{color: #fff;}

	&_small{
		height: 5rem;
		font-size: 1.3rem;
	}
}

input[type="submit"].btn:hover{background: linear-gradient(270deg, #7ADAFF 0%, #01B0F4 100%);}

.btn{
	&::after{
		content: "";
		height: 100%;
		width: 0;
		background: linear-gradient(270deg, #7ADAFF 0%, #01B0F4 100%);
		position: absolute;
		left: 0;
		top: 0;
		transition: width 0.2s ease 0s;
		z-index: -1;
	}

	&:hover::after{width: 100%;}
}

.code{
	background-color: #f7f7f7;
	border: 1px solid #e1e1e8;
	color: #d14;
	padding: 1px 4px;
	display: inline-block;
	font-family: monospace, arial;
	border-radius: 3px;
}

.text-left{text-align: left !important;}
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
.text-justify{text-align: justify !important;}
.text-uppercase{text-transform: uppercase !important;}
.text-bold {font-weight: 700 !important;}

.m-indent{
	margin-top: 120px;
	margin-bottom: 120px;
}

.mt-indent{margin-top: 120px;}
.mb-indent{margin-bottom: 120px;}

.m-small-indent{
	margin-top: 60px;
	margin-bottom: 60px;
}

.mt-small-indent{margin-top: 60px;}
.mb-small-indent{margin-bottom: 60px;}

@media (max-width: 991px) {
	.m-indent{
		margin-top: 80px;
		margin-bottom: 80px;
	}
	
	.mt-indent{margin-top: 80px;}
	.mb-indent{margin-bottom: 80px;}

	.m-small-indent{
		margin-top: 40px;
		margin-bottom: 40px;
	}
	
	.mt-small-indent{margin-top: 40px;}
	.mb-small-indent{margin-bottom: 40px;}
}

@media (max-width: 767px) {
	body{font-size: 1.5rem;}

	.h1, .h2, h1, h2{
		font-size: 2.6rem;
		margin-bottom: 3rem;
	}

	h3,.h3{font-size: 2.4rem;}
	h4,.h4{font-size: 2rem;}
	h5,.h5{font-size: 1.8rem;}

	ol, p, ul{margin-bottom: 1.5rem;}

	.m-indent{
		margin-top: 40px;
		margin-bottom: 40px;
	}
	
	.mt-indent{margin-top: 40px;}
	.mb-indent{margin-bottom: 40px;}

	.m-small-indent{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	.mt-small-indent{margin-top: 30px;}
	.mb-small-indent{margin-bottom: 30px;}

	main{padding-bottom: 60px;}
	.last-elem{margin-bottom: -60px;}

	.container{max-width: 100%!important;}
}