footer.footer
	.st-width
		.footer__content
			.footer__info
				.container
					.row
						.col-md-4
							.footer__logo
								a(href="#")
									img(src="assets/img/logo-white.svg", alt="")

							.footer__copyright © 2005 — 2022 ООО «Анкор»

						.col-md-4
							.footer-phone
								.footer-phone__item
									a(href="tel:+78127151392") (812) 715-13-92

								.footer-phone__item
									a(href="tel:+78129711213") (812) 971-12-13

						.col-md-4
							ul.footer-menu
								-
									var list=[
										{text:'О компании'},
										{text:'Наши работы'},
										{text:'Цены'},
										{text:'Контакты'},
									]
								each item in list
									li.footer-menu__item
										a(href="#").footer-menu__link= item.text

#msg-success(style='display: none;')
	.success-alert.js-success-alert
		.success-alert__icon
			+svg('ic-tick-circle','ic-tick-circle', '50', '50')

		.success-alert__title.js-success-alert-title Спасибо,
			br
			|ваш запрос отправлен!
		.success-alert__text.js-success-alert-text Наш менеджер свяжется с вами в ближайшее время